{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Musilizer home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
    {% block content %}
    <div class="navbar">
      <h5><a href="/login">LOGOUT</a></h5>
    </div>
    <center>
    <div class = "container-fluid">
              <h1>Welcome to Musilizer!</h1>
              <br><br>
              <div class="retrieve">
                <h2>Insert your special code<br> and retrieve your music file here <br>👇</h2>
                <form method="get" action="retrieve">
                    <button type="submit" class="btn btn-success">Retrieve</button>
                </form>
              </div>  
              <div class="upload">
              <h2>Upload your music and create <br>your own music visulizer here<br>👇</h2>
              <form method="get" action="/upload">
                  <button align="right" type="submit" class="btn btn-success">Upload</button>
              </form>
              </div>  
            </div>
    </div>
    </center>
    {% endblock %}
</body>
</html>
