@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;900;700;1000&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #1b262c;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h3{
  font-size: 20px;
  font-weight: 900;
}

.container-fluid a {
  color:#bbe1fa;
  text-decoration: none;
}

.container-fluid a:link {
  color: #bbe1fa;
}

.container-fluid a:visited {
  color: #bbe1fa;
}

.container-fluid a:hover {
  color: #3282b8;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  margin-left: 3em;
  margin-top: 1em;
}

.navbar h5 {
  font-size: medium;
  color: #bbe1fa;
}

.navbar h5 a{
  color: #bbe1fa;
  font-weight: 600;
}

.navbar h5 a:link {
  color: #bbe1fa;
}
.navbar h5 a:visited {
  color: #bbe1fa;
}

.navbar h5 a:hover {
  color: #3282b8;
}

.container-fluid {
    margin-top: 4em;
    color: #bbe1fa;
}

.container-fluid h1{
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    animation: transitionIn 1s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}