{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href=" {% static 'css/login.css' %} " />
    <title>Musilizer registration</title>
  </head>
  <body>
    <div class="login-container">
      <h1>Log in to your account</h1>
      <form action="">
        <h2>Username</h2>
        <input
          type="text"
          class="username"
          placeholder="Enter your username"
        /><br />
        <h2>Password</h2>
        <input
          type="password"
          class="password"
          placeholder="Enter your password"
        /><br />
        <button type="submit" value="Login">LOGIN</button>
      </form>
      <h5>Don't have an account?<a href="/register"> Register!</a></h5>
      <h5 class="forgot">
        <a href="#" class="forgot-a">Forgot your password? </a>
      </h5>
    </div>
  </body>
</html>
